.options {
  float: left;
}

.status {
  float: right;
}

main {
  clear: both;
}

.status div, h3, progress{
  display: inline-block;
}

.course-list {
  float: left;
}

.planner {
  float:right;
}

footer {
  clear: both;
}
