main {
  clear: both;
}

.course-list {
  float: left;
}

.disabled{
  display: none;
}

.planner {
  width: 100%;
  border: solid;
  text-align: center;
}

.planner div{
  border: solid;
  border-width: 1px;
}

footer {
  clear: both;
}

.year_switch{
   display: inline-block;
}

button{
   display: inline-block;
}
