body{
  margin: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  background: #565656;
}

.small-course{
  display: inline-block;
  width: 15%;
  height: 100px;
  overflow: hidden;
  font-size: 0.6em;
  margin: 2px;
}

h1{
  text-align: center;
  margin: 40px 0 60px 0;
  font-family: 'Poiret One', cursive;
  letter-spacing: 0.2em;
}

main {
  clear: both;
}

#year-switch {
  width: 140px;
  margin: auto;
}

.course-list {
  float: left;
}

.disabled {
  display: none;
}

.planner {
  border: 1px solid;
  text-align: center;
}

.planner div {
  border: solid;
  border-width: 1px;
}

button {
   display: inline-block;
   background: transparent;
   border: none;
}

#course-box{
  padding: 0;
  margin: 5px;
  height: 520px;
  overflow: scroll;
  overflow-x: hidden;
}

#filter-form {
  display: inline-block;
  text-align: center;
}

#course-type, #course-name, #course-semester{
  width: 30%;
}

.course {
  color: #565656;
  background: #ffffff;
  border: 1px solid;
  padding: 2px;
  margin: 5px;
  list-style: none;
}

#current-year {
  display: inline-block;
  text-align: center;
  width: 80px;
  font-weight: bold;
}

.planner h3{
  padding: 0;
  margin: 2px;
  font-size: 0.8em;
}

.planner div {
  min-height: 135px;
}

#savetoPDF {
  margin-top: 30px;
  float: right;
}

input, select {
  font-family: inherit;
  color: #565656;
}
